body {
    background-color: #121212;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #ffcc00;
}